<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IndigoMovieManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IndigoMovieManager.Properties.Settings>
            <setting name="MainLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="LastDoc" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultPlayerPath" serializeAs="String">
                <value>C:\Program Files\MPC-BE x64\mpc-be64.exe</value>
            </setting>
            <setting name="DefaultPlayerParam" serializeAs="String">
                <value>/start &lt;ms&gt;</value>
            </setting>
            <setting name="RecentFilesCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="IsResizeThumb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckExt" serializeAs="String">
                <value>*.avi,*.wmv,*.mpg,*.flv,*.asf,*.mpeg,*.mkv,*.swf,*.ogm,*.mp4,*.mov,*.avs,*.divx,*.3gp,*.3g2,*.m4v</value>
            </setting>
        </IndigoMovieManager.Properties.Settings>
    </userSettings>
</configuration>